
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout/_Main.cshtml";
}

<div class="hero_area">
    <!-- slider section -->
    <section class=" slider_section ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 ">
                    <div class="box">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators" style="display: none">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                @*<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>*@
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                    <div class="img-box">
                                        <img src="https://vinbus.vn/web/image/home/new.png" alt="">
                                    </div>
                                </div>
                                @*<div class="carousel-item">
                                        <div class="img-box">
                                            <img src="../Content/assets/urotaxi-html/images/slider-img.png" alt="">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="img-box">
                                            <img src="../Content/assets/urotaxi-html/images/slider-img.png" alt="">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="img-box">
                                            <img src="../Content/assets/urotaxi-html/images/slider-img.png" alt="">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="img-box">
                                            <img src="../Content/assets/urotaxi-html/images/slider-img.png" alt="">
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 ">
                    <div class="slider_form">
                        <h4>
                            Đăng ký tài khoản mua vé
                        </h4>
                        <form action="">
                            <input type="text" placeholder="Email" id="Email">
                            <input type="text" placeholder="Họ và tên" id="Ten">
                            <input type="date" placeholder="Ngày sinh" id="Ngaysinh">
                            <input type="text" placeholder="CCCD" id="CCCD">
                            <input type="text" placeholder="Mã SV (Nếu có)" id="TheHSSV">
                            <input type="text" placeholder="Địa chỉ" id="Diachi">
                            <input type="text" placeholder="Tên đăng nhập" id="Tentaikhoan">
                            <input type="password" placeholder="Mật khẩu" id="Matkhau">
                            <div class="btm_input">
                                <input type="text" placeholder="Số điện thoại" id="Sodienthoai">
                                <button onclick="register()">Đăng kí ngay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- end slider section -->
</div>


<section class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
                <div class="detail-box">
                    <h2>
                        Giới thiệu <br>
                        Dịch vụ đặt vé
                    </h2>
                    <p>

                        Từ khởi đầu là mô hình thí điểm của Nhà nước, trong suốt 15 năm phát triển và trưởng thành, chúng tôi đã vươn lên trở thành điển hình tiêu biểu trong việc áp dụng hiệu quả mô hình Tổng công ty mẹ - con. Hiện nay, Tổng công ty đang điều hành theo 4 lĩnh vực sản xuất kinh doanh chính: Vận tải hành khách công cộng; Hạ tầng vận tải; Kinh doanh vận tải; Thương mại dịch vụ và giá trị gia tăng. Với tầm nhìn chiến lược cùng quyết tâm liên tục đổi mới của Ban quản lý và điều hành Tổng công ty, đặc biệt là sự nỗ lực cố gắng của toàn thể đội ngũ cán bộ, công nhân viên lao động, chúng tôi luôn giữ được sự ổn định về mọi mặt và phát triển bền vững, hàng năm đều đạt doanh nghiệp loại A của thành phố, vốn nhà nước được bảo toàn và phát triển, đóng góp cho ngân sách nhà nước tăng, hiệu quả kinh doanh năm sau cao hơn năm trước, đảm bảo ổn định đời sống, công ăn việc làm cho hơn hàng chục ngàn lao động.

                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="https://xevinhquang.vn/storage/app/uploads/public/5f6/020/f40/5f6020f401961417604123.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- service section -->

<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Dịch vụ của chúng tôi
            </h2>
        </div>
        <div class="service_container">
            <div class="box">
                <div class="img-box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Bus_stop_symbol.svg/1112px-Bus_stop_symbol.svg.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Tìm kiếm trạm
                    </h5>
                    <a href="/UserPage/TramXe">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-bus-icon-design-png-image_4262463.jpg" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Xem tuyến
                    </h5>
                    <a href="/UserPage/TuyenXe">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="../Content/assets/urotaxi-html/images/backpack.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Đặt vé lượt/tháng
                    </h5>
                    <a href="/UserPage/DatVe">
                        Đặt vé ngay
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->
<!-- news section -->

<section class="news_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Tin tức <br>
                Mới
            </h2>
        </div>
        <div class="news_container">
            <div class="box">
                <div class="date-box">
                    <h6>
                        Hôm nay
                    </h6>
                </div>
                <div class="img-box">
                    <img src="http://khoahocphattrien.vn/Images/Uploaded/Share/2021/12/03/VINBUS-2021-a.jpg" alt="" width="300" height="200">
                </div>
                <div class="detail-box">
                    <h6>
                        Tin tức hôm nay
                    </h6>
                    <p>
                        Mở rộng làn để chống ùn tắc là bất khả thi nên chỉ còn cách tăng công suất sử dụng của đường sá bằng phương tiện công cộng.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="date-box">
                    <h6>
                        Hôm nay
                    </h6>
                </div>
                <div class="img-box">
                    <img src="https://image.thanhnien.vn/w1024/Uploaded/2022/qfsiy/2021_12_02/ec9abf01cac8019658d9-5425.jpeg" alt="" width="300" height="200">
                </div>
                <div class="detail-box">
                    <h6>
                        Tin tức hôm nay
                    </h6>
                    <p>
                        Mở rộng làn để chống ùn tắc là bất khả thi nên chỉ còn cách tăng công suất sử dụng của đường sá bằng phương tiện công cộng.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="date-box">
                    <h6>
                        Hôm nay
                    </h6>
                </div>
                <div class="img-box">
                    <img src="http://isuzumienbac.com/User_folder_upload/admin/images/Tin%20Tuc/Vinbus/5426203_xe_bus_vinfast_chinh_thuc_di_vao_hoat_dong_xe_tinhte-1.jpg" alt="" width="300" height="200">
                </div>
                <div class="detail-box">
                    <h6>
                        Tin tức hôm nay
                    </h6>
                    <p>
                        Mở rộng làn để chống ùn tắc là bất khả thi nên chỉ còn cách tăng công suất sử dụng của đường sá bằng phương tiện công cộng.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end news section -->
<!-- contact section -->

<section class="app_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        Download App
                    </h2>
                    <div class="text-box">
                        <h5>
                            details
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when distribution of letters
                        </p>
                    </div>
                    <div class="text-box">
                        <h5>
                            How it works
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when distribution of letters
                        </p>
                    </div>
                    <div class="btn-box">
                        <a href="">
                            <img src="../Content/assets/urotaxi-html/images/playstore.png" alt="">
                        </a>
                        <a href="">
                            <img src="../Content/assets/urotaxi-html/images/appstore.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../Content/assets/urotaxi-html/images/mobile.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end app section -->
<!-- info section -->

<section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
        <div class="box">
            <div class="info_form">
                <h4>
                    Subscribe Our Newsletter
                </h4>
                <form action="">
                    <input type="text" placeholder="Enter your email">
                    <div class="d-flex justify-content-end">
                        <button>
                        </button>
                    </div>
                </form>
            </div>
            <div class="info_links">
                <ul>
                    <li class=" ">
                        <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="">
                        <a class="" href="about.html"> About</a>
                    </li>
                    <li class="">
                        <a class="" href="service.html"> Services </a>
                    </li>
                    <li class="">
                        <a class="" href="news.html"> News</a>
                    </li>
                    <li class="">
                        <a class="" href="contact.html">Contact Us</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Login</a>
                    </li>
                </ul>
            </div>
            <div class="info_social">
                <div>
                    <a href="">
                        <img src="../Content/assets/urotaxi-html/images/fb.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../Content/assets/urotaxi-html/images/twitter.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../Content/assets/urotaxi-html/images/linkedin.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="../Content/assets/urotaxi-html/images/instagram.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- end info section -->